<div class="page404">
  <div class="page404__container">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext_html' | t }}</p>
    <a class="btn btn-primary" href="/">Continue shopping</a>
  </div>
</div>
