<div class="block-reviewentry">
	<div class="block-reviewentry__header">
		<h1>Third Rose</h1>
		<h2>Rose, Italian Mandarin,<br/>Violet, Cedar Root</h2>
	</div>
	<div class="block-reviewentry__content">
		<div class="block-reviewentry__form">
			<div class="input__wrapper reviewentry__input__wrapper">
				<label>Heading:</label>
				<input type="text" maxlength="255" name="reviewentry__heading" id="reviewentry__heading" data-placeholder="Heading" placeholder="Heading" />
			</div>
			<div class="input__wrapper reviewentry__input__wrapper">
				<label>Name:</label>
				<input type="text" name="reviewentry__name" id="reviewentry__name" data-placeholder="Name" placeholder="Name" />
			</div>
			<div class="input__wrapper reviewentry__input__wrapper">
				<label>Email:</label>
				<input type="text" name="reviewentry__location" id="reviewentry__email" data-placeholder="Email" placeholder="Email" />
			</div>
			<div class="input__wrapper reviewentry__input__wrapper">
				<label>Location:</label>
				<input type="text" name="reviewentry__location" id="reviewentry__location" data-placeholder="Location" placeholder="Location" />
			</div>
			<div class="input__wrapper reviewentry__input__wrapper reviewentry__input__wrapper--score">
				<label>Score:</label>
				<div class="spr-starrating ">
		            <a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="1">&nbsp;</a>
		            <a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="2">&nbsp;</a>
		            <a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="3">&nbsp;</a>
		            <a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="4">&nbsp;</a>
		            <a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="5">&nbsp;</a>
		        </div>
			</div>
			<div class="input__wrapper reviewentry__input__wrapper reviewentry__input__wrapper--writereview">
				<label>Write a review:</label>
			</div>
			<div class="input__wrapper reviewentry__input__wrapper">
				<textarea maxlength="1500" name="reviewentry__body" id="reviewentry__body" /></textarea>
				<span class="body__count"><span class="body__count-value">0</span>/1500</span>
			</div>
			<a href="#" class="btn secondary on-light-bg btn__reviewentry__post disabled">Post for review</a>
		</div>
	</div>
	<a href="#" class="block-reviewentry__close">{% include 'icon-close-corpus' %}</a>
</div>