<div class="block-footer">
	<div class="block-footer__menu">
		<h1><span>Contact Us</span><img src="{{ "icon-select-arrow-white.svg" | asset_url }}" alt="Dropdown Arrow" />
		</h1>
		<div class="block-footer__menu__links__wrapper">
			<div class="block-footer__menu__links">
				<ul>
					<li><a href="#contact" class="block-footer__link">Contact Us</a></li>
					<li><a href="#faq" class="block-footer__link">FAQ</a></li>
					<li><a href="#Shipping" class="block-footer__link">Shipping & Returns</a></li>
					<li><a href="#terms" class="block-footer__link">Terms</a></li>
					<li><a href="#privacy" class="block-footer__link">Privacy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="block-footer__links">
		<ul>
			<li><a href="#contact" class="block-footer__link">Contact Us</a></li>
			<li><a href="#faq" class="block-footer__link">FAQ</a></li>
            <li><a href="#Shipping" class="block-footer__link">Shipping & Returns</a></li>
          	<li><a href="#terms" class="block-footer__link">Terms</a></li>
			<li><a href="#privacy" class="block-footer__link">Privacy</a></li>
		</ul>
	</div>
	<div class="block-footer__content">
		<div class="block-footer__section block-footer__contact">
			<section>
				<h1>How can we help?</h1>
				<p>
					If you have a question, we’ve got an answer. You can check out our FAQ section for information about our products, orders, and more. If you can’t find what you’re looking for, just email us at support@corpusnaturals.com and we will help you resolve your issue.
				</p>
			</section>
			<section>
				<h1>
					Address:
				</h1>
				<p>
					CORPUS</br>
					8255 Beverly Blvd.</br>
                    Suite 212 </br>
					Los Angeles, CA 90048
				</p>
			</section>
			<section>
				<h1>Customer Service:</h1>
				<p>
					<a href="mailto:support@corpusnaturals.com">support@corpusnaturals.com</a>
				</p>
			</section>
			<section>
				<h1>Press and Media Inquiries:</h1>
				<p>
					<a href="mailto:press@corpusnaturals.com">press@corpusnaturals.com</a>
				</p>
			</section>
			<section>
				<h1>Wholesale Inquiries:</h1>
				<p>
					<a href="mailto:wholesale@corpusnaturals.com">wholesale@corpusnaturals.com</a>
				</p>
			</section>
			
		</div>

		<div class="block-footer__section block-footer__Shipping">
          <section>
            <h1>Shipping</h1>
					<p>
						All prices include complimentary standard shipping in the U.S. We also offer expedited shipping as well as International shipping at checkout.
					</p>
					<p>
						All international orders go through customs and the process can take up to weeks. Unfortunately, we have no way of knowing how long this process will take.
						Please note: international customers are responsible for any applicable local duties and/or sales tax.
						Additionally, we cannot alter international shipping forms (changing prices, marking orders as gifts, etc.) We also cannot accept responsibility for lost or stolen packages which have been confirmed as delivered to the shipping address. 
					</p>
                    <p>
                      &nbsp
            </p>
				<h1>Return and Exchange Policy</h1>
				  <p>
					Corpus is committed to making you happy. However, if we come up short on that goal, we have options for you. 
				  </p>
                  <p>
					DAMAGED, DEFECTIVE, WRONG ITEM: Please email <a href="mailto:support@corpusnaturals.com">support@corpusnaturals.com</a> if your product(s) arrive damaged and include a photo. Our support team will respond back with replacement details 
				  </p>
                   <p>
					EXCHANGES: please email <a href="mailto:support@corpusnaturals.com">support@corpusnaturals.com</a> 
				  </p>
                  <p>
					RETURNS: (order placed at corpusnaturals.com only) If for whatever reason you are not satisfied with our full size products, we will issue a full refund. <br><br>Please note that we cannot accept returns or exchanges on the Mini Trio set (1.2 oz deodorants). <p>Your return package must be postmarked within 30 days of delivery date. We offer free shipping on all outbound order (US), and cannot reimburse the cost of returns, or issue return shipping labels.
					</p>
                   <p>
                    ORDER NUMBER MUST BE WRITTEN CLEARLY ON THE OUTSIDE OF THE BOX. 
            </p>
            <p>
                     All return packages must be sent to:
                  <p>
					CORPUS</br>
					8255 Beverly Blvd.</br>
                    Suite 212 </br>
					Los Angeles, CA 90048
				</p>
                    </p>
                  <p>
					Any questions: please email <a href="mailto:support@corpusnaturals.com">support@corpusnaturals.com</a>
                    </p>
                    &nbsp
</p>
                    &nbsp
                    </p>
			</section>
		</div>

		<div class="block-footer__section block-footer__terms">
			<section>
				<h1>Terms of Service</h1>
			</section>
			<section>
				<h1>OVERVIEW</h1>

					<p>This website is operated by J75, Inc. DBA Corpus. Throughout the site, the terms “we”, “us” and “our” refer to J75, Inc. DBA Corpus. J75, Inc. DBA Corpus offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>

					<p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply  to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p>

					<p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>

					<p>Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>

					<p>Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.</p>
	
			</section>

			<section>
					<h1>SECTION 1 - ONLINE STORE TERMS</h1>	

					<p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>

					<p>You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</p>

					<p>You must not transmit any worms or viruses or any code of a destructive nature.</p>

					<p>A breach or violation of any of the Terms will result in an immediate termination of your Services.</p>
			</section>

			<section>
				<h1>SECTION 2 - GENERAL CONDITIONS</h1>

				<p>We reserve the right to refuse service to anyone for any reason at any time.</p>

				<p>You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.</p>

				<p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.</p>

				<p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.</p>
			</section>

			<section>
					<h1>SECTION 3 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION</h1>

					<p>We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.</p>

					<p>This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.</p>
				</p>
			</section>

			<section>
					<h1>SECTION 4 - MODIFICATIONS TO THE SERVICE AND PRICES</h1>

					<p>Prices for our products are subject to change without notice.</p>

					<p>We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.</p>

					<p>We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.</p>
			</section>

			<section>
				
					<h1>SECTION 5 - PRODUCTS OR SERVICES </h1>

					<p>Certain products or services may be available exclusively online through the website. These products or services may have limited quantities and are subject to return or exchange only according to our Return Policy.</p>

					<p>We have made every effort to display as accurately as possible the colors and images of our products that appear at the store. We cannot guarantee that your computer monitor's display of any color will be accurate.</p>

					<p>We reserve the right, but are not obligated, to limit the sales of our products or Services to any person, geographic region or jurisdiction. We may exercise this right on a case-by-case basis. We reserve the right to limit the quantities of any products or services that we offer. All descriptions of products or product pricing are subject to change at anytime without notice, at the sole discretion of us. We reserve the right to discontinue any product at any time. Any offer for any product or service made on this site is void where prohibited.</p>

					<p>We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.</p>
			</section>

			<section>
					<h1>SECTION 6 - ACCURACY OF BILLING AND ACCOUNT INFORMATION</h1>

					<p>We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors.</p>

					<p>You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.</p>

					<p>For more detail, please review our Returns Policy.</p>
			</section>

			<section>
				<h1>SECTION 7 - OPTIONAL TOOLS</h1>

				<p>We may provide you with access to third-party tools over which we neither monitor nor have any control nor input.</p>

				<p>You acknowledge and agree that we provide access to such tools ”as is” and “as available” without any warranties, representations or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools.</p>

				<p>Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s).</p>

				<p>We may also, in the future, offer new services and/or features through the website (including, the release of new tools and resources). Such new features and/or services shall also be subject to these Terms of Service.</p>
			</section>

			<section>
				<h1>SECTION 8 - THIRD-PARTY LINKS</h1>

				<p>Certain content, products and services available via our Service may include materials from third-parties.</p>

				<p>Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties.</p>

				<p>We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.</p>
			</section>

			<section>
					<h1>SECTION 9 - USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</h1>

					<p>If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.</p>

					<p>We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</p>

					<p>You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.</p>
			</section>

			<section>
				<h1>SECTION 10 - PERSONAL INFORMATION</h1>

				<p>Your submission of personal information through the store is governed by our Privacy Policy. <a href="/pages/privacy">Click Here</a> to view our Privacy Policy.</p>
			</section>
			<section>
				<h1>SECTION 11 - ERRORS, INACCURACIES AND OMISSIONS</h1>

				<p>Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).</p>

				<p>We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.</p>
			</section>
			<section>
				<h1>SECTION 12 - PROHIBITED USES</h1>

				<p>In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.</p>
			</section>
			<section>
				<h1>SECTION 13 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</h1>

				<p>We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free.</p>

				<p>We do not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</p>

				<p>You agree that from time to time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.</p>

				<p>You expressly agree that your use of, or inability to use, the service is at your sole risk. The service and all products and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement.</p>

				<p>In no case shall J75, Inc. DBA Corpus, our directors, officers, employees, affiliates, agents, contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility. Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the maximum extent permitted by law.</p>
			</section>
			<section>
				<h1>SECTION 14 - INDEMNIFICATION</h1>

				<p>You agree to indemnify, defend and hold harmless J75, Inc. DBA Corpus and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.</p>
			</section>
			<section>
				<h1>SECTION 15 - SEVERABILITY</h1>

				<p>In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.</p>
			</section>
			<section>
				<h1>SECTION 16 - TERMINATION</h1>

				<p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.</p>

				<p>These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site.</p>

				<p>If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).</p>
			</section>
			<section>
				<h1>SECTION 17 - ENTIRE AGREEMENT</h1>
				<p>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.</p>
				<p>These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).</p>

				<p>Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.</p>				
			</section>
			<section>
				<h1>SECTION 18 - GOVERNING LAW</h1>

				<p>These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of California.</p>
			</section>
			<section>
				<h1>SECTION 19 - CHANGES TO TERMS OF SERVICE</h1>

				<p>You can review the most current version of the Terms of Service at any time at this page.</p>

				<p>We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.</p>
			</section>
			<section>
				<h1>SECTION 20 - CONTACT INFORMATION</h1>

				<p>Questions about the Terms of Service should be sent to us at hello@corpusnaturals.com</p>

			</section>	
		</div>
		<div class="block-footer__section block-footer__privacy">
			<section>
				<h1>Privacy</h1>
			</section>
			<section>

					<p>Thank you for choosing to be part of our community at J75, Inc. DBA Corpus(“company”, “we”, “us”, or “our”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at info@corpusnaturlas.com.</p>

					<p>When you visit our website corpusnaturals.com, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.</p>

					<p>This privacy policy applies to all information collected through our website (such as corpusnaturals.com), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Sites"). </p>

					<p class="bold">Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us. </p>

					
	
			</section>
			<section>
				<h1>TABLE OF CONTENTS </h1>
				<h1>1. WHAT INFORMATION DO WE COLLECT?</h1>
				<h1>2. HOW DO WE USE YOUR INFORMATION?</h1>
				<h1>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h1>
				<h1>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h1>
				<h1>5. DO WE USE GOOGLE MAPS?    </h1>
				<h1>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</h1>
				<h1>7. HOW LONG DO WE KEEP YOUR INFORMATION?</h1>
				<h1>8. HOW DO WE KEEP YOUR INFORMATION SAFE?  </h1>
				<h1>9. DO WE COLLECT INFORMATION FROM MINORS?  </h1>
				<h1>10. WHAT ARE YOUR PRIVACY RIGHTS?</h1>
				<h1>11. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS? </h1>
				<h1>12. DO WE MAKE UPDATES TO THIS POLICY?</h1>
				<h1>13. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h1>
			</section>

			<section>
				<h1>1. WHAT INFORMATION DO WE COLLECT?  </h1>
 
				<p>Personal information you disclose to us 
				In Short: We collect personal information that you provide to us such as name, address, contact information, passwords and security data, payment information, and social media login data.  </p>

				<p>We collect personal information that you voluntarily provide to us when registering at the Sites expressing an interest in obtaining information about us or our products and services, when participating in activities on the Sites  or otherwise contacting us.</p>

				<p>The personal information that we collect depends on the context of your interactions with us and the Sites, the choices you make and the products and features you use. The personal information we collect can include the following:</p>

				<p>Name and Contact Data. We collect your first and last name, email address, postal address, phone number, and other similar contact data.</p>

				<p>Credentials. We collect passwords, password hints, and similar security information used for authentication and account access.</p>

				<p>Payment Data. We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by our payment processor and you should review its privacy policies and contact the payment processor directly to respond to your questions.  
				Social Media Login Data. </p>

				<p>We provide you with the option to register using social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the Information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS" below.  
				All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>

				<p>Information automatically collected 
				In Short: Some information – such as IP address and/or browser and device characteristics – is collected automatically when you visit our Sites.</p>

				<p>We automatically collect certain information when you visit, use or navigate the Sites. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Sites and other technical information. This information is primarily needed to maintain the security and operation of our Sites, and for our internal analytics and reporting purposes. 
				Like many businesses, we also collect information through cookies and similar technologies.</p>  

				<p>Information collected from other sources 
				In Short: We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources. </p>

				<p>We may obtain information about you from other sources, such as public databases, joint marketing partners, social media platforms (such as Facebook), as well as from other third parties. Examples of the information we receive from other sources include: social media profile information (your name, gender, birthday, email, current city, state and country, user identification numbers for your contacts, profile picture URL and any other information that you choose to make public); marketing leads and search results and links, including paid listings (such as sponsored links).  </p>
				
			</section>
			<section>
				<h1>2. HOW DO WE USE YOUR INFORMATION?  </h1>

				<p>In Short: We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.  </p>

				<p>We use personal information collected via our Sites for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests ("Business Purposes"), in order to enter into or perform a contract with you ("Contractual"), with your consent ("Consent"), and/or for compliance with our legal obligations ("Legal Reasons"). We indicate the specific processing grounds we rely on next to each purpose listed below.  </p>

				<p>We use the information we collect or receive:  </p>

				<ul>
					<li>To facilitate account creation and logon process with your Consent. If you choose to link your account with us to a third party account *(such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process. See the section below headed "HOW DO WE HANDLE YOUR SOCIAL LOGINS" for further information.</li>
					<li>To send you marketing and promotional communications for Business Purposes. We and/or our third party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS" below).</li>
					<li>To send administrative information to you for Business Purposes, Legal Reasons and/or possibly for Contractual. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies. </li>
					<li>To send administrative information to you for Business Purposes, Legal Reasons and/or possibly for Contractual. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</li>
					<li>Fulfill and manage your orders for Contractual reasons. We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Sites.</li>
					<li>To post testimonials with your Consent. We post testimonials on our Sitesthat may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update, or delete your testimonial, please contact us at hello@corpusnaturals.com and be sure to include your name, testimonial location, and contact information.</li>
					<li>Deliver targeted advertising to you for our Business Purposes. We may use your information to develop and display content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.</li>
					<li>Administer prize draws and competitions for our Business Purposes. We may use your information to administer prize draws and competitions when you elect to participate in competitions.</li>
					<li>Request Feedback for our Business Purposes. We may use your information to request feedback and to contact you about your use of our Sites.</li>
					<li>To protect our Sites for Business Purposes and/or for Legal Reasons. We may use your information as part of our efforts to keep our Sites safe and secure (for example, for fraud monitoring and prevention).</li>
					<li>To enable user-to-user communications with your Consent. We may use your information in order to enable user-to-user communications with each user's consent.</li>
					<li>To enforce our terms, conditions and policies for Business Purposes, Legal Reasons and/or possibly Contractual.</li>
					<li>To respond to legal requests and prevent harm for Legal Reasons. If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</li>
					<li>For other Business Purposes. We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Sites, products, services, marketing and your experience.</li>
				</ul>

			</section>
			<section>
				<h1>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?  </h1>

				<p>In Short: We only share information with your consent, to comply with laws, to protect your rights, or to fulfill business obligations.   </p>

				<p>We only share and disclose your information in the following situations: </p>
				<ul>
					<li>Compliance with Laws. We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements). </li>
					<li>Vital Interests and Legal Rights. We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</li>
					<li>Vendors, Consultants and Other Third-Party Service Providers. We may share your data with third party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the Sites, which will enable them to collect data about how you interact with the Sites over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes. </li>
					<li>Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company. </li>
					<li>Affiliates. We may share your information with our affiliates, in which case we will require those affiliates to honor this privacy policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.  </li>
					<li>Business Partners. We may share your information with our business partners to offer you certain products, services or promotions.</li>
					<li>With your Consent. We may disclose your personal information for any other purpose with your consent.</li>
				</ul>

			</section>

			<section>
				<h1>4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?  </h1>

				<p>In Short: We may use cookies and other tracking technologies to collect and store your information.  
				We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy. </p>
			</section>
			<section>
				<h1>5. DO WE USE GOOGLE MAPS? </h1>

				<p>In Short: Yes, we use Google Maps for the purpose of providing better service.  </p>

				<p>This website, mobile application, or Facebook application uses Google Maps APIs. You may find the Google Maps APIs Terms of Service here. To better understand Google’s Privacy Policy, please refer to this link.  </p>

				<p>By using our Maps API Implementation, you agree to be bound by Google’s Terms of Service. We use information about location in conjunction with data from other data providers.</p>
			</section>
			<section>
				<h1>6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?  </h1>

				<p>In Short: If you choose to register or log in to our websites using a social media account, we may have access to certain information about you. </p>

				<p>Our Sites offer you the ability to register and login using your third party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, friends list, profile picture as well as other information you choose to make public. </p>
				<p>We will use the information we receive only for the purposes that are described in this privacy policy or that are otherwise made clear to you on the Sites. Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.</p>
			</section>
			<section>
				<h1>7. HOW LONG DO WE KEEP YOUR INFORMATION?  </h1>

				<p>In Short: We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.  </p>

				<p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than 2 years past the termination of the user's account. </p>
				<p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
			</section>
			<section>
				<h1>8. HOW DO WE KEEP YOUR INFORMATION SAFE?  </h1>

				<p>In Short: We aim to protect your personal information through a system of organizational and technical security measures.  </p>

				<p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the Internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Sites is at your own risk. You should only access the services within a secure environment. </p>
			</section>

			<section>
				<h1>9. DO WE COLLECT INFORMATION FROM MINORS?  </h1>

				<p>In Short: We do not knowingly collect data from or market to children under 18 years of age.  </p>

				<p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Sites, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Sites. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at hello@corpusnaturals.com. </p>
			</section>
			<section>
				<h1>10. WHAT ARE YOUR PRIVACY RIGHTS?  </h1>

				<p>In Short: In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information. You may review, change, or terminate your account at any time.  </p>

				<p>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable data protection laws. </p>
				<p>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.   
				If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm"> http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm </a></p>
			</section>
			<section>
				<h1>Account Information  </h1>

				<p>If you would at any time like to review or change the information in your account or terminate your account, you can:  </p>

				<p>■  Log into your account settings and update your user account.   
				Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements. </p>
				<p><u>Cookies and similar technologies:</u>  Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Sites. To opt
-out of interest-based advertising by advertisers on our Sites visit  <a href="http://www.aboutads.info/choices/" >http://www.aboutads.info/choices/</a>.</p>

				<p><u>Opting out of email marketing:</u> You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may:  </p>
				<p>■  Access your account settings and update preferences. </p>  
				<p>■  Note your preferences when you register an account with the site.   </p>
				<p>■  Click unsubscribe link on email communications   </p>	
			</section>
			<section>
				<h1>11. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?  </h1>
				<p>In Short: Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.   </p>

				<p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below. </p>
				<p>If you are under 18 years of age, reside in California, and have a registered account with the Sites, you have the right to request removal of unwanted data that you publicly post on the Sites. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Sites, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>
			</section>
			<section>
				<h1>12. DO WE MAKE UPDATES TO THIS POLICY?  </h1>

				<p>In Short: Yes, we will update this policy as necessary to stay compliant with relevant laws.  
				We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information. </p>
			</section>

			<section>
				<h1>13. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h1>
  			

				<p>If you have questions or comments about this policy, you may email us at  <a href="mailto:hello@corpusnaturals.com">mailto:hello@corpusnaturals.com</a></p>

				<p>If you have any further questions or comments about our policies, or us email <a href="mailto:hello@corpusnaturals.com">mailto:hello@corpusnaturals.com</a></p>

				<p><strong>Last updated June 04, 2018  </strong></p>
			</section>

			
		</div>

		<div class="block-footer__section block-footer__faq">
			<div class="block-footer__cols">
				<div class="block-footer__col">
					<h1>1. What is Completely Natural?</h1>
					<p>
						Advances in natural and plant-based chemistry have made it possible to create highly effective personal care products without the use of potentially harmful chemicals. Corpus product formulations are vegan, and cruelty-free, including parabens, aluminum, talc, baking soda, propylene glycol and synthetic fragrance. All of the ingredients are either plant or mineral derived.</p>

						<p>You may be asking what does Natural really mean? It’s a great question but met with varying definitions causing great skepticism, and abuse. Unfortunately the FDA does not regulate the term “natural”, and this leaves consumers questioning how a company defines the term.</p>

						<p>At corpus we see it like this; if a product is derived from a natural source and has been minimally processed, we call it completely-naturally-derived. Now just about anything that goes into a product has gone through some form of processing to be extracted from its natural source, thus the use of the term “derived”. We have gone to great lengths to make sure that each and every ingredient used in our formulations passes the Corpus standard of what we define as natural.</p>

						<p>Now keep in mind that just because an ingredient might sound like a synthetic chemical, ie. Sorbitan Oleate Decylglucoside Crosspolymer, but it’s actually a PEG-free, nonionic fragrance stabilizer made from 100% bio-based raw materials. Doing your own quick Internet search of ingredients goes a long way in product education.					</p>
				</div>
				<div class="block-footer__col">
					<h1>2. Is Corpus Environmentally Friendly?</h1>
					<p>
						Absolutely, and we’re committed to using energy from renewable sources. Corpus uses  mainly Solar Power to create our formula, and our stick and box are manufactured using Hydro-Electric energy. Because we don’t want to sacrifice quality and performance, Corpus uses a plastic applicator. Our philosophy is to evolve towards green solutions whenever possible, and as sustainable alternatives become available we plan to adopt them.
					</p>
				</div>
				<div class="block-footer__col">
					<h1>3. What Makes A “Natural Fragrance” Natural?</h1>
					<p>
						Natural fragrances are essential oils and isolates derived from flowers, fruits, sap, seeds or skin of the plant, as well as the bark, leaves, roots, resins or wood of certain trees and never as a result of synthetic chemistry. 
					</p>
				</div>
				<div class="block-footer__col">
					<h1>4. Is Corpus Aluminum-Free?</h1>
					<p>
						Yes. Corpus is a natural deodorant, and all deodorants are aluminum-free. Antiperspirants, on the other hand, use pore-clogging aluminum to artificially reduce sweating. But sweating is natural and is one of the ways your body cools and detoxifies itself. Corpus works with your body’s natural chemistry rather than against it.
					</p>
				</div>
				<div class="block-footer__col">
					<h1>5. Do you use Baking Soda?</h1>
					<p>
						No. We formulated an effective natural deodorant without Baking Soda.  We use tapioca starch and diatomaceous earth as effective alternatives for this commonly used ingredient. Although Baking Soda is considered a natural ingredient, it is known to cause irritation and has the drawback of a gritty and rough texture.
					</p>
				</div>
				<div class="block-footer__col">
					<h1>6. What Can I Expect Switching To Natural Deodorant?</h1>
					<p>
						When you stop using personal care products containing synthetic, artificial ingredients, it’s sometimes common for your body to go through a brief period of readjustment. This is completely normal and necessary for your body to expel foreign toxins. Some people notice increased wetness and odor during the transition period, but most experience little to no odor, wetness, or irritation. In the unlikely event you experience prolonged sensitivity or irritation, reach out to the Corpus team. 
					</p>
				</div>
				<div class="block-footer__col">
					<h1>7. How Do I Apply Corpus to My Body? </h1>
					<p>
						You can apply Corpus just like a conventional deodorant. Use as little or as much as feels right. <br> <br> TIP: To increase product effectiveness, always apply to dry skin. Wet skin will dilute the product and decease the effectiveness.
					</p>
				</div>
				<div class="block-footer__col">
					<h1>8. Where Should I Store Corpus?</h1>
					<p>
						Keep Corpus in a cool area away from excess heat.
					</p>
				</div>
				<div class="block-footer__col">
					<h1>9. Return and Exchange Policy</h1>
					<p>
						Corpus is committed to making you happy. If for whatever reason you are not satisfied with our product, just reach out to our customer service team and we will help you solve your problem. We require notice within the first 30 days after receipt of your order for any claims.
					</p>
				</div>
				<div class="block-footer__col">
					<h1></h1>
					<p>
					 
					</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="block-footer__close">{% include 'icon-close-corpus' %}</a>
</div>
