<div class="block-purchase">
	<div class="block-purchase__header">
		<h1></h1>
		<h2></h2>
	</div>
	<div class="block-purchase__content">
		<div class="block-purchase__form">
			<div class="block-purchase__qtywrap">
				<h1>Select Quantity:</h1>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<h2>Complimentary standard shipping included.</h2>
		</div>
		<div class="block-purchase__button">
			<a href="#" class="btn on-light-bg primary block-purchase__btn">Add To Cart $-</a>
		</div>
	</div>
	<a href="#" class="block-purchase__close">{% include 'icon-close-corpus' %}</a>
</div>