<div class="customers__content customers__profile">
      
  <div class="customers__mobile__header">
    Profile
    <a href="#" class="customers__mobile__navtrigger"><</a>
  </div>

   <div class="customers__profile__form">

        <h1>Information</h1>
        <p>
          {{ customer.name }}
          <br/>
          {{ customer.email }}
        </p>

    </div>

</div>