<div class="footer">

  <div class="footer__col footer__col--left">
    <ul class="footer__links">
      <li><a href="/pages/referafriend" class="footer__link">Give $5, Get $5</a></li>
      <li><a href="#contact" class="footer__link">Contact Us</a></li>
      <li><a href="#faq" class="footer__link">FAQ</a></li>
      <li><a href="#Shipping" class="footer__link">Shipping & Returns</a></li>
      <li><a href="#terms" class="footer__link">Terms</a></li>
      <li><a href="#privacy" class="footer__link">Privacy</a></li>
    </ul>
    <ul class="footer__social">
      <li><a href="https://twitter.com/Corpusnaturals" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/corpusnaturals/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/CorpusNaturals/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    </ul>
    <span class="footer__legal">© {{ 'now' | date: "%Y" }} Corpus. All Rights Reserved.</span>
  </div>

  <div class="footer__col footer__col--right">
    <form id="contact-form">
      <div class="input__wrapper">
        <h1>Sign up to receive 10% off your first order</h1>
        <div class="privy-embed-form" data-campaign="539792"></div>


<!--         <input type="email" name="footer-email" id="contact-email" class="input__footer__email" placeholder="Email Address" />
        <span class="input__error">Please enter a valid email address.</span> -->
      </div>
      <!-- <input type="submit" value="Submit*" class="btn secondary on-light-bg btn__footer__email" /> -->
    </form>
  </div>

</div>