.accounts {
  &__container {
    @extend .container;
  }

  &__recover-pass,
  &__register {
    max-width: 500px;
    font-size: 1.8rem;
    margin: 0 auto 50px;
  }

  .form-group {
    > label {
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 3;
    }
  }

  &__heading {
    text-align: center;
    margin: 30px auto;

    .accounts__title {
      margin: 0 auto 10px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 3.6rem;
    letter-spacing: 0.15em;
    text-align: center;
    margin: 30px auto;
    color: $color-cta-primary;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.15em;
    font-weight: 600;
    color: $color-cta-primary;
    margin-bottom: 20px;
  }

  &__recover-link {
    margin: 30px 0;
    display: block;
    max-width: 1645px;
    font-size: 1.8rem;
    color: #848484;
  }

  &__logout-link {
    text-transform: capitalize;
  }

  &__logout-link,
  &__viewaddress-link {
    @extend .underlined-link;

    font-size: 1.8rem;
    font-weight: normal;
  }

  &__menu {
    list-style: none;
    padding: 0;

    > li {
      &.active > a {
        font-weight: 700;
      }

      > a {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15em;
        line-height: 2.5;
      }
    }
  }

  &__history {
    .info-section {
      font-size: 1.7rem;
      color: #848484;

      address {
        line-height: 20px;
      }

      .accounts__subtitle {
        font-weight: 450;
        text-transform: capitalize;
        font-size: 1.7rem;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 180px;
        padding-top: 70px;
        border-top: 1px solid #f3f3f3;
      }
    }

    .order-summary {
      margin-top: 40px;

      > div {
        display: flex;
        justify-content: space-between;
        color: #848484;

        &.total {
          margin-top: 50px;
          color: #000;
        }

        span {
          text-transform: uppercase;
          font-size: 1.7rem;
        }
      }

      .accounts__subtitle {
        text-transform: uppercase;
        padding-bottom: 20px;
        font-weight: 450;
        border-bottom: 1px solid #f3f3f3;
      }
    }

    .order-section {
      > .underlined-link {
        text-transform: capitalize;
        font-size: 1.5rem;
        color: #000;
      }
    }

    .product-cell {
      display: flex;
    }

    .total-cell {
      color: #000;
    }

    .product-info {
      padding-left: 20px;

      .product-title {
        color: #000;
        font-size: 2.8rem;
        margin-bottom: 10px;

        a {
          text-decoration: none;
        }
      }

      span {
        display: block;
        text-transform: uppercase;
      }
    }

    .history-section, .order-section {
      @include media-breakpoint-up(lg) {
        padding-right: 40px;
      }
    }

    .address-section {
      padding-top: 40px;
      font-size: 1.8rem;
      color: #848484;
    }

    .table {
      text-align: center;

      &.order-table {
        text-align: left;
      }

      th {
        text-transform: uppercase;
        border-bottom: 1px solid #f3f3f3;
        font-size: 1.8rem;
        font-weight: normal;
        padding: 20px 0;
      }

      td {
        font-size: 1.8rem;
        color: #848484;
        padding: 30px 0;
      }
    }
  }

  &__history,
  &__addresses {
    margin-bottom: 100px;
  }

  &__address-new {
    margin-top: 20px;
  }

  .order-date {
    font-size: 1.5rem;
    letter-spacing: 0.06em;
    margin: 15px 0 30px;
  }

  .table a {
    text-decoration: underline;
  }

  address {
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #959595;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
  }

  .btn-outline-primary {
    font-size: 2rem;
    font-weight: normal;
  }

  .login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 100px;
    }


    .login-section, .create-section {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 45%;
        padding: 20px;
      }


      h2 {
        text-transform: uppercase;
        font-size: 2.7rem;
      }

      .form-group {
        margin-bottom: 30px;

        label {
          margin: 0;
        }

        &:first-of-type {
          margin-top: 20px;
        }
      }

      p {
        margin: 30px 0;
        font-size: 1.8rem;
        color: #848484;
      }
    }
  }
}
